{% extends "../include/base.html" %}
{%  block content %}
<div align="right">

  <div class="col-md-2">
    <div class="page-header-toolbar">
      
     
        <div class="dropdown ml-lg-auto ml-6 toolbar-item">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
          <div class="dropdown-menu" aria-labelledby="dropdownexport">
            <a class="dropdown-item" href="{% url 'csv-clients' %}">Export as CSV</a>
          
          </div>
        </div>
    </div>
  </div>
</div>
</br>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Matricule</th>
            <th ></th>
            <th> 
              <a href="{% url 'ajouter_client' %}" class="btn btn-primary">
                  Ajouter Client
               
                  </a>
          </th>
          </tr>
        </thead>
        <tbody>
          {% csrf_token%}
            {% for clt in client%}
          <tr>
            <td>{{clt.nom}}</td>
            <td>{{clt.email}}</td>
            <td>{{clt.tel}}</td>
            <td>{{clt.matricule_id}}</td>
            <td><a href="{% url 'modifier_client' clt.id %}"><button type="button" class="btn btn-success btn-sm">Modifier</button></a>
              <a href="{% url 'supp_clt' clt.id %}"><button type="button" class="btn btn-danger btn-sm">Supprimer</button></a></td>
            {% endfor %}
          </tr>
            
        </tbody>
      </table>
    </div>
  </div>
</div>

{%  endblock content %}