{% extends "../include/base.html" %}
{%  block content %}
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>QTE en stock</th>
            <th> 
              <a href="{% url 'ajouter_equipement' %}" class="btn btn-primary">
                  Ajouter Equipement
               
                  </a>
          </th>
            
           
          </tr>
        </thead>
        <tbody>
          {%csrf_token%}
          {% for equip in equipement %}
          <tr>

            <td>{{equip.nom_equipement}}</td>
            <td>{% if equip.qte_stock == 0 %}
                <label class="badge badge-danger">en rupture de stock</label>
                {% else %}
                  {{equip.qte_stock}}
                {% endif %}
            </td>
            
            <td><a href="{% url 'modifier_equipement' equip.id %}"><button type="button" class="btn btn-success btn-sm">Modifier</button></a>
              <a href="{% url 'supp_equip' equip.id %}"><button type="button" class="btn btn-danger btn-sm">Supprimer</button></a></td>
            {% endfor %}
          </tr>

          

            
        </tbody>
      </table>
    </div>
  </div>
</div>
{%  endblock content %}