{% extends "../include/base.html" %}
{%  block content %}
<div align="right">

  <div class="col-md-2">
    <div class="page-header-toolbar">
      
     
        <div class="dropdown ml-lg-auto ml-6 toolbar-item">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
          <div class="dropdown-menu" aria-labelledby="dropdownexport">
            <a class="dropdown-item" href="{% url 'csv-technicien' %}">Export as CSV</a>
          
          </div>
        </div>
    </div>
  </div>
</div>
</br>
<div class="col-lg-12 grid-margin stretch-card">
  
  <div class="card">
    
    <div class="card-body">
      
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Specialité</th>
            <th>Disponibilité</th>
            <th> 
              <a href="{% url 'ajouter_technicien' %}" class="btn btn-primary">
                  Ajouter Technicien
               
                  </a>
          </th>
            

          </tr>
        </thead>
        <tbody>
          {%csrf_token%}
          {% for tc in technicien %}
          <tr>
            <td>{{tc.nom}}</td>
            <td>{{tc.email}}</td>
            <td>{{tc.tel}}</td>
            <td>{{tc.specialité.libelle_panne}}</td>
            {% if tc.disponibilité == '0' %}
            <td><label class="badge badge-success" style="color: aliceblue;" >Disponible</label></td>
            {% else %}
            <td><label class="badge badge-warning" style="color: aliceblue;">Dans Une Mission</label></td>
            {% endif %}
            <td><a href="{% url 'modifier_technicien' tc.id %}"><button type="button" class="btn btn-success btn-sm">Modifier</button></a>
              <a href="{% url 'supp_tech' tc.id %}"><button type="button" class="btn btn-danger btn-sm">Supprimer</button></a></td>
            {% endfor %}

          </tr>

          

            
        </tbody>
      </table>
    </div>
  </div>
</div>

{%  endblock content %}