{% extends "../include/base.html" %}
{%  block content %}
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Societe</th>
            <th ></th>
           
          </tr>
        </thead>
        <tbody>
          {% for tc in technicien %}
          <tr>
            <td>{{tc.nom}}</td>
            <td>{{tc.email}}</td>
            <td>{{tc.tel}}</td>
          
              {% if tc.typique == "False" %}
              <td>technicien intern</td>
              {% else %}
              <td>{{tc.societe}}</td>
              {% endif %}
              
              
              <td><button type="button" class="btn btn-success btn-sm">Modifier</button>
              
             <a href="{% url 'supp_tech' tc.id%}"><button type="button" class="btn btn-danger btn-sm">Supprimer</button></a> </td>
          </tr>

          {% endfor %}

            
        </tbody>
      </table>
    </div>
  </div>
</div>

{%  endblock content %}