{% include "../include/header.html" %}
 <!-- Page Title Header Ends-->
 

    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <div class="auto-form-wrapper">
              {% for msg in messages %}
              <script>
                swal("{{ msg }}", "", "error");
              </script>
              {% endfor %}
                <form method="POST" action="">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="label">Username</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Username" name="username" required>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="label">Mot De Passe</label>
                    <div class="input-group">
                      <input type="password" class="form-control" placeholder="*********" name="password" required>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary submit-btn btn-block">Se Connecter</button>
                  </div>
                  <div class="form-group d-flex justify-content-between">
                    
                    <a href="#" class="text-small forgot-password text-black">Mot De Passe Oublier</a>
                  </div>
                 
                  
                  <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold">T'es Pas Un Membre?</span>
                    <a href="{% url 'registerPage' %}" class="text-black text-small">Creer Un Compte</a>
                  </div>
                </form>
              </div>
              
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->

  </body>
  </html>