{% extends "../../include/baseclient.html" %}
{% load static %}

{%  block content %}

<div class="row">
      <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Ajouter Intervention</h4>
                    <form class="forms-sample" method="POST" action="#" enctype="multipart/form-data">
                      {% csrf_token %}

                      <div class="form-group">
                        <label for="exampleInputName1">Titre : </label>
                        <input type="text" class="form-control" name="titre" id="exampleInputName1" placeholder="titre" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">panne</label>
                        <select class="form-control form-control-lg" name="panne" id="exampleFormControlSelect1">
                          {% for pn in panne %}
                          <option>{{pn.libelle_panne}}</option>
                         {% endfor %}
                        </select>
                      </div><div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table borderless">
                                <thead>
                                <tr>
                                    <td><strong>Equipement</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><button class="pull-right addone btn btn-xs btn-primary">+</button></td>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                <tr>
                                    <td class="col-md-4">
                                        <select class="form-control" id="select-1" name="equipement">
                                          {% for eq in equipement %}
                                             <option value="{{eq.id}}">{{eq.nom_equipement}}</option>
                                             
                                             {% endfor %}	                                        
                                            </select>
                                    </td>
                                    <td></td>
                                    <td>
                                       
                                    </td>
                                    <td></td>
                                    <td class="text-right"><button type="button" class="btn btn-danger btn-sm rm">Supprimer</button></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
         
                      <label for="imagepanne">Image De Panne</label>

                      <div class="input-group">
                        
                        <div class="input-group-prepend">
                  
                          <span class="input-group-text" id="inputGroupFileAddon01">Image Panne</span>
                        </div>
                        <div class="custom-file">

                          <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01"  name="image" required>
                          <label class="custom-file-label" for="inputGroupFile01">Choisir Un Fichier</label>
                        </div>
                      </div>
                      </br>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" name="description" rows="2" required></textarea>
                      </div>
                      <button type="submit" class="btn btn-success mr-2">Enregitrer</button>

                    
                  </div>
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-stretch grid-margin">
                <div class="row flex-grow">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Adresse Intervention</h4>
                        <div class="form-group">
                            <label>Votre Location:</label>
                            <input type="text" class="form-control" id="search_input" name="search_input" placeholder="Type address..." required/>
                            <input type="hidden" id="loc_lat" name="loc_lat"/>
                            <input type="hidden" id="loc_long"  name="loc_long"/>
                        </div>
                        <div id="map"></div>

                        <!-- Display latitude and longitude -->
                        <div class="latlong-view">
                            <p><b>Latitude:</b> <span id="latitude_view" ></span></p>
                            <p><b>Longitude:</b> <span id="longitude_view"></span></p>
                        </div>
                        
                      </div>
                    </div>
                  </div>
            
                </div>
              </div>
            </form>
            
</div>
<script>
  function initMap() {
    var map, marker;
    $(document).ready(function() {

    function myMap(lat,long) {
        var inputseach = document.getElementById("search_input");
        var myCenter = new google.maps.LatLng(lat,long);
        var mapCanvas = document.getElementById("map");

        var mapOptions = {
            center: myCenter, 
            zoom: 15,
            treetViewControl: false,
            mapTypeControl: false
        };

        map = new google.maps.Map(mapCanvas, mapOptions);
        marker = new google.maps.Marker(
            {
                position:myCenter,
                draggable: false
            }
        );
        marker.setMap(map);

        // Zoom to 9 when clicking on marker
        google.maps.event.addListener(marker,'click',function() {
            map.setZoom(9);
            map.setCenter(marker.getPosition());
            map.latLng 
        });

   
    }

    
    
    
    google.maps.event.addDomListener(window, 'load', myMap(3.1412,101.68653));
   
        
        

    $(document).ready(function ()
    {
        // click on map and set you marker to that position
        google.maps.event.addListener(map, 'click', function(event) {
          var geocoder = new google.maps.Geocoder();

          geocoder.geocode({
    'latLng': event.latLng
  }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      if (results[0]) {
        document.getElementById("search_input").value = results[0].formatted_address;
      }
    }
  });
            marker.setPosition(event.latLng);
            document.getElementById('latitude_view').innerHTML = event.latLng.lat();
            document.getElementById('longitude_view').innerHTML = event.latLng.lng();
            document.getElementById('loc_lat').value = near_place.geometry.location.lat();
            document.getElementById('loc_long').value = near_place.geometry.location.lng();
            
        });
    });
});
  


 //for autocomplet search 
 var autocomplete;
    autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
        types: ['geocode'],
    });
    

    
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
        
        var near_place = autocomplete.getPlace();
        var input = document.getElementById('search_input');

        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });
        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
               
        document.getElementById('loc_lat').value = near_place.geometry.location.lat();
        document.getElementById('loc_long').value = near_place.geometry.location.lng();
		
        document.getElementById('latitude_view').innerHTML = near_place.geometry.location.lat();
        document.getElementById('longitude_view').innerHTML = near_place.geometry.location.lng();
        
    });
  
  }


  $(".addone").click(function(e){
      e.preventDefault();
      $("tbody tr:last").clone().appendTo("tbody").find("input").val("0");;
  });
  $(document).on('click', '.rm', function() {
      var l = $("tbody tr").length;
      if(l>1) {
          $(this).parent().parent().remove();
      }else{
          swal("Attention", "Choisir Au Moins Une fourniture");            }
  });
</script>

<script src="{% static 'src/assets/js/maps.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAegDbIoBUtOkrawryONGwpQ4gixK9XKjY&callback=initMap"></script>

{%  endblock content %}