{% extends "../../include/baseclient.html" %}
{% load static %}
{%  block content %}

<div class="row">
      <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Ajouter Intervention</h4>
                    <form class="forms-sample" method="POST" action="#" enctype="multipart/form-data">
                      {% csrf_token %}

                      <div class="form-group">
                        <label for="exampleInputName1">Titre : </label>
                        <input type="text" class="form-control" name="titre" id="exampleInputName1" placeholder="titre" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">panne</label>
                        <select class="form-control form-control-lg" name="panne" id="exampleFormControlSelect1">
                          {% for pn in panne %}
                          <option>{{pn.libelle_panne}}</option>
                         {% endfor %}
                        </select>
                      </div><div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table borderless">
                                <thead>
                                <tr>
                                    <td><strong>Equipement</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><button class="pull-right addone btn btn-xs btn-primary">+</button></td>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                <tr>
                                    <td class="col-md-4">
                                        <select class="form-control" id="select-1" name="equipement">
                                          {% for eq in equipement %}
                                             <option value="{{eq.id}}">{{eq.nom_equipement}}</option>
                                             
                                             {% endfor %}	                                        
                                            </select>
                                    </td>
                                    <td></td>
                                    <td>
                                       
                                    </td>
                                    <td></td>
                                    <td class="text-right"><button type="button" class="btn btn-danger btn-sm rm">Supprimer</button></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
         
                      <label for="imagepanne">Image De Panne</label>

                      <div class="input-group">
                        
                        <div class="input-group-prepend">
                  
                          <span class="input-group-text" id="inputGroupFileAddon01">Image Panne</span>
                        </div>
                        <div class="custom-file">

                          <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01"  name="image" required>
                          <label class="custom-file-label" for="inputGroupFile01">Choisir Un Fichier</label>
                        </div>
                      </div>
                      </br>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" name="description" rows="2" required></textarea>
                      </div>
                      <button type="submit" class="btn btn-success mr-2">Enregitrer</button>

                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-stretch grid-margin">
                <div class="row flex-grow">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Adresse Intervention</h4>
                        <div class="form-group">
                            <label>Votre Location:</label>
                            <input type="text" class="form-control" id="search_input" placeholder="Type address..." />
                            <input type="hidden" id="loc_lat" />
                            <input type="hidden" id="loc_long" />
                        </div>
                        
                        <!-- Display latitude and longitude -->
                        <div class="latlong-view">
                            <p><b>Latitude:</b> <span id="latitude_view"></span></p>
                            <p><b>Longitude:</b> <span id="longitude_view"></span></p>
                        </div>
                        
                      </div>
                    </div>
                  </div>
            
                </div>
              </div>
            
</div>
<script>
  $(".addone").click(function(e){
      e.preventDefault();
      $("tbody tr:last").clone().appendTo("tbody").find("input").val("0");;
  });
  $(document).on('click', '.rm', function() {
      var l = $("tbody tr").length;
      if(l>1) {
          $(this).parent().parent().remove();
      }else{
          swal("Attention", "Choisir Au Moins Une fourniture");            }
  });
</script>
<script src="{% static 'src/assets/js/maps.js' %}"></script>
{%  endblock content %}