{% extends "../include/baseclient.html" %}
{%  block content %}

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="table-responsive table-rows-collapse">
            <table class="table table-bordered table-condensed table-hover table-rows-collapse">
              
                <thead>
                <tr>
                                              <th class="display_a_on_hover th-selection" scope="col"><label for="selection_all"><input type="checkbox" id="selection_all" name="selection_all" value=""></label></th>
                                          <th class="display_a_on_hover th-code_id" scope="col">N°&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=id&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Numéro identifiant </span></a></span></th>
                                          <th class="display_a_on_hover th-iss_nom" scope="col">Titre&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=iss_nom&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Titre </span></a></span></th>
                                          <th class="display_a_on_hover th-iss_status" scope="col">Statut&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=status&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Statut </span></a></span></th>
                                          <th class="display_a_on_hover th-iss_priority" scope="col">Equipement&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=priority&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Priorité </span></a></span></th>
                                          <th class="display_a_on_hover th-client" scope="col">Image&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=client&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Client </span></a></span></th>
                                          <th class="display_a_on_hover th-iss_date_start" scope="col">Début&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=date_start&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Date de début </span></a></span></th>
                                          <th class="display_a_on_hover th-iss_date_end" scope="col">Fin&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=date_end&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Date de fin </span></a></span></th>
                                        <th class="th-is_fav hidden-print" scope="col">Action</th>
                      </tr>
              </thead>
                <tbody>
                    {%csrf_token%}
                    {% for interv in intervention %}

            <tr data-onclick="issue_edit.php?issue_id=85848&amp;readonly=true">
             <td class="text-center td-checklist no-js"><label for="selection_85848_" onclick="event.stopPropagation()"><input type="checkbox" id="selection_85848_" name="selection[85848]" value="1" class="js-selection" data-id="85848"></label></td>

            <td data-label="N°&nbsp;">{{interv.id}}</td>
            <td data-label="Statut&nbsp;">
                <span class="label label-default" style="font-size:.9em;">{{interv.Titre_intervention}}</span>

                </td>
            <td data-label="Priorité&nbsp;"><span class="label label-primary" style="font-size:.9em;">
            
                    {% if interv.etat == '0' %}
                    <label class="badge badge-warning">Nouveau</label>
                    {% elif interv.etat == '1' %}
                    <label class="badge badge-info">En Cours</label>
                    {% elif interv.etat == '2' %}
                    <label class="badge badge-info">Affecter</label>
                    {% else %}
                    <label class="badge badge-success">Terminer</label>
                    {% endif %}
                
            
            </span></td>
            <td data-label="Titre&nbsp;">
               
                    <p>{{id_interv}}</p>

            
    

            </td>
            <td data-label="Client&nbsp;">
                
                <img id="myImg" src="/media/image.png" alt="Snow" data-toggle="modal" data-target="#exampleModal">
                
                
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <img id="dd" src="">

      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
            </td>
            <td data-label="Début&nbsp;">31/05/2020</td>
            <td data-label="Fin&nbsp;">31/05/2020</td>
                    <td class="hidden-print no-js" data-label="Actions">
                      <a class="btn-floating btn-sm btn-secondary" href=""><i class="fas fa-edit"></i></a>
                      <a class="btn-floating btn-sm btn-secondary" href=""><i class="fas fa-trash-alt"></i></a>
                      <a class="btn-floating btn-sm btn-secondary" href=""><i class="fas fa-check"></i></a>

                       
                    </td>
                    </tr>

                    {% endfor %}
                    </tbody>
            </table>
            </div>
        </div>
 
     
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
      </div>
     

{%  endblock content %}