{% extends "../include/baseclient.html" %}
{%  block content %}
<div align="right">

  <div class="col-md-2">
    <div class="page-header-toolbar">
      
     
        <div class="dropdown ml-lg-auto ml-6 toolbar-item">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
          <div class="dropdown-menu" aria-labelledby="dropdownexport">
            <a class="dropdown-item" href="{% url 'csv-interv' %}">Export as CSV</a>
          
          </div>
        </div>
    </div>
  </div>
</div>
</br>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="table-responsive table-rows-collapse">
            <table class="table table-bordered table-condensed table-hover table-rows-collapse">
              
                <thead>
                <tr>
                                              <th class="display_a_on_hover th-selection" scope="col"><label for="selection_all"><input type="checkbox" id="selection_all" name="selection_all" value=""></label></th>
                                          <th class="display_a_on_hover th-code_id" scope="col">N°&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=id&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Numéro identifiant </span></a></span></th>
                                          <th class="display_a_on_hover th-iss_nom" scope="col">Titre&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=iss_nom&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Titre </span></a></span></th>
                                          <th class="display_a_on_hover th-iss_status" scope="col">Statut&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=status&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Statut </span></a></span></th>
                                          <th class="display_a_on_hover th-iss_priority" scope="col">Equipement&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=priority&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Priorité </span></a></span></th>
                                          <th class="display_a_on_hover th-client" scope="col">Image&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=client&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Client </span></a></span></th>
                                          <th class="display_a_on_hover th-iss_date_start" scope="col">Date Création&nbsp;<span class="hidden-print"><a class="btn btn-default btn-xs" href="?page_nbr=1&amp;order_by=date_start&amp;order_sort=ASC">▼<span class="sr-only">Classement ascendant colonne Date de début </span></a></span></th>
                                        <th class="th-is_fav hidden-print" scope="col">Action</th>
                      </tr>
              </thead>
                <tbody>
                    {%csrf_token%}
                    {% for interv in intervention %}

            <tr data-onclick="issue_edit.php?issue_id=85848&amp;readonly=true">
             <td class="text-center td-checklist no-js"><label for="selection_85848_" onclick="event.stopPropagation()"><input type="checkbox" id="selection_85848_" name="selection[85848]" value="1" class="js-selection" data-id="85848"></label></td>

            <td data-label="N°&nbsp;">{{interv.id}}</td>
            <td data-label="Statut&nbsp;">
            <span class="label label-default" style="font-size:.9em;">{{interv.Titre_intervention}}</span>

            </td>
            <td data-label="Priorité&nbsp;">
            <span class="label label-primary" style="font-size:.9em;">
            
                    {% if interv.etat == '0' %}
                    <label class="badge badge-warning">Nouveau</label>
                    {% elif interv.etat == '1' %}
                    <label class="badge badge-info">En Cours</label>
                    {% elif interv.etat == '2' %}
                    <label class="badge badge-primary">Affecter</label>
                    {% elif interv.etat == '3' %}
                    <label class="badge badge-success">Terminer par technicien</label>
                    {% elif interv.etat == '4' %}
                    <label class="badge badge-info">Traitement</label>
                    {% elif interv.etat == '5' %}
                    <label class="badge badge-danger">Non Payé</label>
                    {% elif interv.etat == '6' %}
                    <label class="badge badge-danger">Cloturé</label>
                    {% endif %}
            </span></td>

            <td data-label="Titre&nbsp;">
               {% for equipment in interv.equipements.all %}
                    {{ equipment.nom_equipement }}
              </br>
              {% endfor %}
            </td>

            <td data-label="Client&nbsp;">
                
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-image="" data-target="#image-gallery{{interv.id }}">
                <img class="img-responsive" src="/media/image.png" alt="Trolltunga, Norway" width="100" height="100">
              </a>
                

                <div class="modal fade" id="image-gallery{{interv.id }}" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="image-gallery-title"></h4>
											</div>
											<div class="modal-body">
												<img id="image-gallery-image" style="width:100%;height:100%;"  src="/media/{{interv.image}}">
											</div>
											<div class="modal-footer">


											</div>
										</div>
									</div>
								</div>
               
                
      </td>
            <td data-label="Début&nbsp;">{{interv.date_intervention}}</td>

                    <td class="hidden-print no-js" data-label="Actions">
                      {% if interv.etat == '0' %}
                      <a class="btn-floating btn-sm btn-secondary" href=""><i class="fas fa-edit"></i></a>
                      <a class="btn-floating btn-sm btn-secondary" data-toggle="modal" data-target="#modalsuprimer{{interv.id}}"><i class="fas fa-trash-alt"></i></a>
                      <a class="btn-floating btn-sm btn-secondary" data-toggle="modal" data-target="#modalvalider{{interv.id}}"><i class="fas fa-check"></i></a>
                      {% elif interv.etat == '1' %}
                      <p>en attend l'affectation d'un technicien</p>
                      {% elif interv.etat == '2' %}
                      <a href=""><button type="button" class="btn btn-success btn-rounded" disabled>Marker Comme Terminer</button></a>
                      {% elif interv.etat == '3' %}
                      <a href="{% url 'valider_intervention' interv.id %}"><button type="button" class="btn btn-success btn-rounded">Marker Comme Terminer</button></a>
                      {% elif interv.etat == '4' %}
                      <p>en attend De Facturation</p>
                      {% elif interv.etat == '5' %}
                      <a href="{% url 'mes-facture'%}"><button type="button" class="btn btn-primary btn-rounded" >Prés À Payé</button></a>
                      {% endif %}
                      
                     

                       
                    </td>
                    </tr>

<!--Modal: modalvalider-->
<div class="modal fade top" id="modalvalider{{interv.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" data-backdrop="true">
<div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body">
      <div class="row d-flex justify-content-center align-items-center">

        <p class="pt-3 pr-2">Vous Voulez Vraiment Valider L'intervention ? </p>

        <a type="button" class="btn btn-success" href="{% url 'validate_interv' interv.id %}">Oui,Valider</a>
      </div>
    </div>
  </div>
  <!--/.Content-->
</div>
</div>
<!--Modal: modalCookie-->

<!--Modal: modalvalider-->
<div class="modal fade top" id="modalsuprimer{{interv.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" data-backdrop="true">
<div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Body-->
    <div class="modal-body">
      <div class="row d-flex justify-content-center align-items-center">

        <p class="pt-3 pr-2">Vous Voulez Vraiment Supprimer L'intervention ? </p>

        <a type="button" class="btn btn-danger" href="{% url 'delete_interv' interv.id %}">Oui,Supprimer</a>
      </div>
    </div>
  </div>
  <!--/.Content-->
</div>
</div>
<!--Modal: modalCookie-->

                    {% endfor %}
                    </tbody>
            </table>
            </div>
        </div>
 
     
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
      </div>
     

{%  endblock content %}